body {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    opacity: 0.8;
    transform: scale(1.25);
    transition: 2.5s ease-in-out;   
}
h1 {
    font-size: 6rem;
    color: rgb(190, 169, 126);
}
h2 {
    font-size: 4rem;
    color: rgb(190, 169, 126);
}
h3{
    font-size: 2rem;
}
/* ******************************************************************* */
nav {
    position: fixed;
    background-color: rgb(197, 180, 124);
    width: 100%;
    text-shadow: 1px 3px 3px rgb(48, 48, 48) ;
    opacity: 0.8;
}
#raccourci li{
    /* float: right; */
    float: left;
    font-size: 2rem;
    font-weight: bold;
}
#raccourci li a{
    display: block;
    padding: 2rem 8rem;
}
#titre {
    padding-top: 18rem;
    text-align: center;
    height: 40rem;
}
#premierTrait {
    height: 1px;
    width: 25%;
    margin: auto;
    color: rgb(190, 169, 126);
}

/* *********************************************************************** */

#formation {
    height: 40rem;
    text-align: center;
}
#etudes {
    padding-top: 10rem;
}

/* ************************************************************ */

#experience{
    padding: 20rem 20rem 20rem 20rem;
    height: 40rem;
    text-align: center;
}
#experienceProfessionnelle {
    padding-top: 10rem;
}

/* ********************************************************* */

#loisir{
    padding: 20rem 20rem 20rem 20rem;
    height: 40rem;
    text-align: center;
}
#hobies{
    padding-top: 10rem;
}

/* *************************************************** */

#Contact{
    padding: 20rem 20rem 20rem 20rem;
    height: 40rem;
    text-align: center;
}
#Cont{
    padding-top: 10rem;
}